<ul>
    <li>
        <a routerLink='/home'>Home</a> 
    </li>
    <li>
        <a [routerLink]="['/employee', '2']">Employee</a> 
    </li>
    <li>
        <a [routerLink]="['/login']">Login</a> 
    </li>
</ul>

<!-- <div> 
  <p *ngFor="let item of items; let i=index" style="background-color:#d9d2d2; padding:20px;">
    {{item}}
  </p>
</div> -->
<router-outlet></router-outlet>

<div class="container">

<app-template-driven-form-demo></app-template-driven-form-demo>
</div>
<!-- <form #templateForm="ngForm" (ngSubmit)="onSubmit(templateForm.value)">
  <div class="form-group">
      <label for="firstName">First Name</label>
      <input required ngModel #firstName="ngModel" [(ngModel)]="formUser.firstName" (change)="log(firstName)" type="text" name="firstName" id="firstName" class="form-control">
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">This field is required</div>
 </div>
 <button class="btn btn-primary">Submit</button>
</form> -->


  